<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 30px;">
    <div class="container-fluid">
        <h3> Provinsi & Kabupaten</h3>
        <br>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Selection
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/list-provinsi">Provinsi</a></li>
                <li><a class="dropdown-item" href="/list-kabupaten">Kabupaten</a></li>
            </ul>
        </div>
        {{!-- <div class="container-fluid">
            <a class="navbar-brand" href="/">Provinsi & Kabupaten</a>
            <div class="d-flex"> --}}

                {{!-- <!-- Dropdown Pilih Provinsi -->
                <div class="dropdown me-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownProvinsi"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Pilih Provinsi
                    </button>
                    <ul class="dropdown-menu">
                        {{#each provinsi}}
                        <li><a class="dropdown-item provinsi-option" href="#" data-id="{{id}}">{{nama}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                <!-- Dropdown Pilih Kabupaten -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownKabupaten"
                        data-bs-toggle="dropdown" aria-expanded="false" disabled>
                        Pilih Kabupaten
                    </button>
                    <ul class="dropdown-menu" id="kabupatenList">
                        <li><span class="dropdown-item text-muted">Pilih provinsi dulu</span></li>
                    </ul>
                </div>
            </div>
        </div> --}}
        {{!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Selection
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/list-provinsi">Provinsi</a></li>
                <li><a class="dropdown-item" href="/list-kabupaten">Kabupaten</a></li>
            </ul>
        </div> --}}
        <div>
            {{#if user_tb}}
            <span class="me-3">Selamat datang, {{user_tb.username}}</span>
            <a href="/logout" class="me-3">Logout</a>
            {{/if}}

            <a class="btn btn-primary {{#if (equal currentPage 'Add-Provinsi')}}active fw-bold{{/if}}"
                href="/add-provinsi">Add Provinsi</a>
            <a class="btn btn-primary {{#if (equal currentPage 'Add-Kabupaten')}}active fw-bold{{/if}}"
                href="/add-kabupaten">Add Kabupaten</a>
        </div>
    </div>
</nav>