<form class="row g-3 add-provinsi" id="form-provinsi" action="/add-provinsi" method="POST"
    enctype="multipart/form-data">
    <h2 style="text-align: center;">Add Provinsi</h2>
    <div class="col-12 form_field">
        <label for="name" class="form-label fw-bold">Nama Provinsi</label>
        <input name="name" type="text" class="form-control" id="inputNameProvinsi" required>
    </div>
    <div class="col-md-6 form_field ">
        <label for="diresmikan" class="form-label fw-bold">Diresmikan</label>
        <input name="diresmikan" type="date" class="form-control" id="diresmikan" required>
    </div>

    <div class="col-12 form_field">
        <label for="image" class="form-label fw-bold">Photo</label>
        <input name="image" type="file" class="form-control" id="uploadImage" required>
    </div>
    <div class="col-12 form_field">
        <label for="pulau" class="form-label fw-bold">Pulau</label>
        <input name="pulau" type="text" class="form-control" id="inputPulau" required>
    </div>
    <div class="col-12 button_container" id="project-button">
        <button type="submit" class="btn btn-black">Submit</button>
    </div>
</form>